
<!-- Header -->
<header class="navbar navbar-inverse">
    <div class="container">
        <div class="container-fluid">
    <!-- Left Header Navigation -->
    <div class="navbar-header">
        <a class="navbar-brand" href="/" rel="topbar">Maker News India <span class="label label-primary label-indicator"></span></a>
    </div>      
    <ul class="nav navbar-nav-custom">
        <!-- <li><a id="nav_create_makey" {% if not user.is_authenticated %}class="preventDefault"{% else %} href="" rel="topbar"{% endif %}>Create New Makey</a></li> -->
    </ul>
    <!-- END Left Header Navigation -->

    <!-- Right Header Navigation -->
    <ul class="nav navbar-nav-custom pull-right">
        <li class="divider-vertical"></li>
        <li><a class="preventDefault" href="" rel="topbar">Events Calendar</a></li>
        <li><a class="preventDefault" href="" rel="topbar">Archieve</a></li>
        <li><a class="preventDefault" href="" rel="topbar">Team</a></li>
    </ul>
    <!-- END Right Header Navigation -->
    </div>
    </div>
</header>
<!-- END Header -->
