{% extends "newsletter/base.html" %} 
{% load static from staticfiles %}
{% block title %}Makeystreet| Find maker parts{% endblock %}
{% block extra_js %}
    <script>
        $('document').ready(function(){
            // $('#loginModal').modal();
            // alert("hello");
        });
    </script>
    <!-- Script related to  mailchimp -->
    <script type="text/javascript">
        var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='text';
        try {
            var jqueryLoaded=jQuery;
            jqueryLoaded=true;
        } catch(err) {
            var jqueryLoaded=false;
        }
        var head= document.getElementsByTagName('head')[0];
        if (!jqueryLoaded) {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
            head.appendChild(script);
            if (script.readyState && script.onload!==null){
                script.onreadystatechange= function () {
                      if (this.readyState == 'complete') mce_preload_check();
                }    
            }
        }

        var err_style = '';
        try{
            err_style = mc_custom_error_style;
        } catch(e){
            err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
        }
        var head= document.getElementsByTagName('head')[0];
        var style= document.createElement('style');
        style.type= 'text/css';
        if (style.styleSheet) {
          style.styleSheet.cssText = err_style;
        } else {
          style.appendChild(document.createTextNode(err_style));
        }
        head.appendChild(style);
        setTimeout('mce_preload_check();', 250);

        var mce_preload_checks = 0;
        function mce_preload_check(){
            if (mce_preload_checks>40) return;
            mce_preload_checks++;
            try {
                var jqueryLoaded=jQuery;
            } catch(err) {
                setTimeout('mce_preload_check();', 250);
                return;
            }
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
            head.appendChild(script);
            try {
                var validatorLoaded=jQuery("#fake-form").validate({});
            } catch(err) {
                setTimeout('mce_preload_check();', 250);
                return;
            }
            mce_init_form();
        }
        function mce_init_form(){
            jQuery(document).ready( function($) {
              var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
              var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
              $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
              options = { url: 'http://makeystreet.us8.list-manage2.com/subscribe/post-json?u=c791cf5ee38a7c35b2c5a5c39&id=4605fcf93b&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                            beforeSubmit: function(){
                                $('#mce_tmp_error_msg').remove();
                                $('.datefield','#mc_embed_signup').each(
                                    function(){
                                        var txt = 'filled';
                                        var fields = new Array();
                                        var i = 0;
                                        $(':text', this).each(
                                            function(){
                                                fields[i] = this;
                                                i++;
                                            });
                                        $(':hidden', this).each(
                                            function(){
                                                var bday = false;
                                                if (fields.length == 2){
                                                    bday = true;
                                                    fields[2] = {'value':1970};//trick birthdays into having years
                                                }
                                                if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                                    this.value = '';
                                                } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                                    this.value = '';
                                                } else {
                                                    if (/\[day\]/.test(fields[0].name)){
                                                        this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;                                           
                                                    } else {
                                                        this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                                    }
                                                }
                                            });
                                    });
                                $('.phonefield-us','#mc_embed_signup').each(
                                    function(){
                                        var fields = new Array();
                                        var i = 0;
                                        $(':text', this).each(
                                            function(){
                                                fields[i] = this;
                                                i++;
                                            });
                                        $(':hidden', this).each(
                                            function(){
                                                if ( fields[0].value.length != 3 || fields[1].value.length!=3 || fields[2].value.length!=4 ){
                                                    this.value = '';
                                                } else {
                                                    this.value = 'filled';
                                                }
                                            });
                                    });
                                return mce_validator.form();
                            }, 
                            success: mce_success_cb
                        };
              $('#mc-embedded-subscribe-form').ajaxForm(options);
              
              
            });
        }
        function mce_success_cb(resp){
            $('#mce-success-response').hide();
            $('#mce-error-response').hide();
            if (resp.result=="success"){
                $('#mce-'+resp.result+'-response').show();
                $('#mce-'+resp.result+'-response').html(resp.msg);
                $('#mc-embedded-subscribe-form').each(function(){
                    this.reset();
                });
            } else {
                var index = -1;
                var msg;
                try {
                    var parts = resp.msg.split(' - ',2);
                    if (parts[1]==undefined){
                        msg = resp.msg;
                    } else {
                        i = parseInt(parts[0]);
                        if (i.toString() == parts[0]){
                            index = parts[0];
                            msg = parts[1];
                        } else {
                            index = -1;
                            msg = resp.msg;
                        }
                    }
                } catch(e){
                    index = -1;
                    msg = resp.msg;
                }
                try{
                    if (index== -1){
                        $('#mce-'+resp.result+'-response').show();
                        $('#mce-'+resp.result+'-response').html(msg);            
                    } else {
                        err_id = 'mce_tmp_error_msg';
                        html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                        
                        var input_id = '#mc_embed_signup';
                        var f = $(input_id);
                        if (ftypes[index]=='address'){
                            input_id = '#mce-'+fnames[index]+'-addr1';
                            f = $(input_id).parent().parent().get(0);
                        } else if (ftypes[index]=='date'){
                            input_id = '#mce-'+fnames[index]+'-month';
                            f = $(input_id).parent().parent().get(0);
                        } else {
                            input_id = '#mce-'+fnames[index];
                            f = $().parent(input_id).get(0);
                        }
                        if (f){
                            $(f).append(html);
                            $(input_id).focus();
                        } else {
                            $('#mce-'+resp.result+'-response').show();
                            $('#mce-'+resp.result+'-response').html(msg);
                        }
                    }
                } catch(e){
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);
                }
            }
        }
    </script>
    <!-- End of Script related to mailchimp -->
{% endblock %}
{% block templates %}
{% endblock %}

{% block backbone %}
{% endblock %}

{% block content_full %}
    <link href="https://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="  text/css"> 
    <link href="http://hive.mozillaindia.org/front-end/splash.css" rel="stylesheet" type="text/css">

    <style type="text/css">
        #mc_embed_signup{
            background: #fff;
            clear: left;
            font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
            width: 800px;
            color: #fff;
            margin: 10% auto 0;
            border-radius: 4px;
            padding: 5px;
            background-color: rgba(0,0,0,0.5);
        }
        #mc_embed_signup p{
            margin: 16px 24px;
        }
        #info-box{
            margin-top: 16px;
            text-align: center;
            font-size: 2rem;
        }
        .mozH-bg{
            background: url("{% static 'img/image.jpg' %}") no-repeat center center fixed;
            background-size: cover;
            width:100%;
            height:100%;
            z-index:-1;
            position: fixed;
            top: 0;
            left: 0;
        }
        #mce-responses{
            margin: 0;
            padding: 0;
        }
        #mc_embed_signup div.response{
            margin: 1em 0;
            width:auto;
        }
        .indicates-required .asterisk {
            text-shadow: 0 0 4px #000;
        }
        #credits { font-size: 14px; float: right; margin-right: 28px; } 
        #credits a { color: #acf; }
        #credits a:hover { color: #678; }
    </style>
    <!-- Style related to mailchip -->
    <style type="text/css">
        /*#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }*/
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <!-- End of Style related to mailchip -->

    <div class="mozH-bg">hello</div>
    {% if errors %}
        <div class="row">
            <div class="text_center col-lg-offset-2 col-sm-8 col-md-8">
                {% for error in errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <center> <strong>Error!</strong> {{ error }} </center>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
    <div class="row" >
        <div class="col-sm-12 col-xs-12">
            
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
            <div id="info-box">Welcome to <b>Maker News India</b></div>
            <p>India is the land of Jugaad. We are all makers and innovators. We have always built solution for problems that we faced, with what ever resources we have. But us makers in India, have always worked in isolation. We rarely get to know what happens in another city.</p>
            <p>This newsletter is an attempt to help you as a maker get to know about what other cool maker activity is happening in India. Keep yourself updated on all maker activity in India.</p>
            

            <!-- Begin MailChimp Signup Form -->

            <form action="http://makeystreet.us8.list-manage1.com/subscribe/post?u=c791cf5ee38a7c35b2c5a5c39&amp;id=4605fcf93b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
                <label for="mce-MMERGE3">Name </label>
                <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3" style="color:#000000;">
            </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_c791cf5ee38a7c35b2c5a5c39_4605fcf93b" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </form>


            <!--End mc_embed_signup-->

            <!-- <form action="http://makeystreet.us8.list-manage.com/subscribe/post?u=c791cf5ee38a7c35b2c5a5c39&amp;id=4605fcf93b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" >
            </div>
            <div class="mc-field-group">
                <label for="mce-MMERGE3">Name </label>
                <input type="text" value="" name="MMERGE3" class="required" id="mce-MMERGE3" style="color:#000000;">
            </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_c791cf5ee38a7c35b2c5a5c39_4605fcf93b" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </form> -->



           <!--  <form onsubmit="event.preventDefault();return false;" action="http://makeystreet.us8.list-manage2.com/subscribe/post?u=c791cf5ee38a7c35b2c5a5c39&amp;id=4605fcf93b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
                <label for="mce-MMERGE3">Name </label>
                <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
            </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_c791cf5ee38a7c35b2c5a5c39_4605fcf93b" value=""></div>
                <div class="clear">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                    <span id="credits">Brought to you by <a href="http://local.arduino.cc/bangalore/" target="_blank">Arduino India</a>, <a href="http://makerfest.com/" target="_blank">Maker Fest</a>, <a href="http://hive.mozillaindia.org/" target="_blank">Mozilla Hive India</a> and <a href="http://alpha.makeystreet.com/" target="_blank">Makeystreet</a>.</span>
                </div>
            </form>
            </div> -->
            <!--End mc_embed_signup-->
        </div>
    </div>
 



{% endblock %}

{% block extra_js_end %}
    <script>

    </script>
{% endblock %}


