{% extends "newsletter/base.html" %} 

{% block title %}Makeystreet| Find maker parts{% endblock %}
{% block extra_js %}
    <script>
        $('document').ready(function(){
            // $('#loginModal').modal();
            // alert("hello");
        });

    </script>
    <script language="JavaScript">
        <!--
        function autoResize(id){
            var newheight;
            var newwidth;

            if(document.getElementById){
                newheight=document.getElementById(id).contentWindow.document.body.scrollHeight;
                newwidth=document.getElementById(id).contentWindow.document.body.scrollWidth;
            }

            document.getElementById(id).height= (newheight) + "px";
            document.getElementById(id).width= (newwidth) + "px";
        }
        //-->
        </script>


{% endblock %}
{% block templates %}
{% endblock %}

{% block backbone %}
{% endblock %}

{% block content_full %}
    
    {% if errors %}
        <div class="row">
            <div class="text_center col-lg-offset-2 col-sm-8 col-md-8">
                {% for error in errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <center> <strong>Error!</strong> {{ error }} </center>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <center>
                <h1>Maker News India - Newsletter {{newsletter_no}}</h1>
                <p>{{nl.link}}</p>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            {% if nl.previous %}
            <a href="{{nl.previous}}">previous</a>
            {% endif %}
            {% if nl.next %}
            <a class="pull-right" href="{{nl.next}}">next</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <iframe src="{{nl.link}}" width="100%" height="1200px" id="iframe1" marginheight="0" frameborder="0" onLoad="autoResize('iframe1');"></iframe>
            <!-- <iframe src="http://us8.campaign-archive1.com/?u=c791cf5ee38a7c35b2c5a5c39&id=3fc4b824dd&e=c3ed57e060" style=" border-width:0 " width="100%" height="100px" frameborder="0" scrolling="no"></iframe> -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            {% if nl.previous %}
            <a href="{{nl.previous}}">previous</a>
            {% endif %}
            {% if nl.next %}
            <a class="pull-right" href="{{nl.next}}">next</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            Subscribe to the newsletter plugin
        </div>
    </div>



{% endblock %}

{% block extra_js_end %}
    <script>

    </script>
{% endblock %}