{% extends "newsletter/base.html" %} 

{% block title %}Makeystreet| Find maker parts{% endblock %}
{% block extra_js %}
    <script>
        $('document').ready(function(){
            mixpanel.track("Team Page",{event_type:"team_page_opened"});
            // $('#loginModal').modal();
            // alert("hello");
        });
    </script>
{% endblock %}
{% block templates %}
{% endblock %}

{% block backbone %}
{% endblock %}

{% block content_full %}
    
    {% if errors %}
        <div class="row">
            <div class="text_center col-lg-offset-2 col-sm-8 col-md-8">
                {% for error in errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <center> <strong>Error!</strong> {{ error }} </center>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <center>
                <h1>Maker News India - Team</h1>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h3>Newsletter Team</h3>
            <div class="row">
                <div class="col-xs-3">
                    <a href="http://www.makeystreet.com/maker/rajanjamuindia/">Rajan Gupta</a>
                </div>
                <div class="col-xs-3">
                    <a href="http://www.makeystreet.com/maker/rishigauravbhatnagar/">Rishi Bhatnagar</a>
                </div>
            </div>
            <h3>Publicity Team</h3>
            <div class="row">
                <div class="col-xs-3">
                    <a href="http://www.makeystreet.com/maker/alex/">Alex J V</a>
                </div>
            </div>
            <h3>Website Team</h3>
            <div class="row">
                <div class="col-xs-3">
                    <a href="http://www.makeystreet.com/maker/alex/">Alex J V</a>
                </div>
            </div>
            <h3>Partners</h3>
            <div class="row">
                <div class="col-xs-3">
                    <a href="http://www.makeystreet.com/">Makeystreet</a>
                </div>
                <div class="col-xs-3">
                    <a href="http://www.makeystreet.com/">Arduino India</a>
                </div>
                <div class="col-xs-3">
                    <a href="http://www.makeystreet.com/">Maker Fest</a>
                </div>
                <div class="col-xs-3">
                    <a href="http://www.makeystreet.com/">Mozilla Hive</a>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
 



{% endblock %}

{% block extra_js_end %}
    <script>

    </script>
{% endblock %}